/* CUSTOM PROPERTIES -> "VARIABLES" */

:root {
  /* --mi-color: orange; */

  /* FONTS */

  --font-primary: "Kumbh Sans", sans-serif;
  --font-size: 16px;
  --custom-font: 25px "Kumbh Sans", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* COLORS */

  --primary-orange: hsl(26, 100%, 55%);
  --primary-pale-orange: hsl(25, 100%, 94%);

  --neutral-very-dark-blue: hsl(220, 13%, 13%);
  --neutral-dark-grayish-blue: hsl(219, 9%, 45%);
  --neutral-grayish-blue: hsl(220, 14%, 75%);
  --neutral-light-grayish-blue: hsl(223, 64%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-black: hsl(0, 0%, 0%);

  /* (with 75% opacity for lightbox background) */
}

/* GENERALES */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* background-color: var(--mi-color); */

  font-family: var(--font-primary);
}

html {
  font-size: var(--font-size);

  /* font: var(--custom-font); */
}

img {
  /* RWD para imágenes */
  max-width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* UTILS */

.hidden {
  display: none !important;
}

.wrapper {
  /* border: 3px solid red; */
  /* width: 1200px; */
  width: min(100%, 1200px);

  margin: 0 auto;
}

/* HEADER SECTION */

.header {
  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 1rem;
  border-bottom: 1px solid var(--neutral-grayish-blue);
}

.header__wrapper {
  /* border: 1px solid blue; */

  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__links {
  display: none;
}

@media (min-width: 992px) {
  .header__links {
    display: flex;
    gap: 1.5rem;

    font-size: .9rem;
    font-weight: var(--font-weight-regular); /* Por defecto */

    color: var(--neutral-dark-grayish-blue);
    padding-left: 1.5rem;
  }

  .header__menu {
    display: none;
  }
}

.header__icons {
  /* border: 1px solid green; */

  display: flex;
  align-items: center;
  gap: 2rem;
}

/* PRODUCT DETAIL */

.product-detail {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 0;
}

@media (min-width: 992px) {
  /* Estos estilos se aplican para tablets, desktops, + */
  .product-detail {
    flex-direction: row;
    gap: 5rem;

    padding: 4rem;
  }
}

.gallery {
  /* border: 1px solid blue; */

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gallery__slider {
  /* border: 1px solid green; */

  display: flex;
  gap: 1rem;
}

@media (min-width: 992px) {
  /* Estos estilos se aplican para tablets, desktops, + */
  .gallery__cover {
    border-radius: 1rem;
  }
}

/* TODO: Ocultar el slider solo en móviles usando media queries */