

/* GENERALES */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

html {
  font-size: 16px;
}

img {
  /* RWD para imágenes */
  max-width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* UTILS */

.hidden {
  display: none !important;
}

.wrapper {
  /* border: 3px solid red; */
  /* width: 1200px; */
  width: min(100%, 1200px);

  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}