@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
  font-weight: 700;
}

/* TODO: descargar la fuente Fraunces desde Google fonts y usarla en el body */

@font-face {
  font-family: 'Fraunces';
  src: url(fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format('truetype');
  font-weight: 700;
}

body {
  background-color: hsl(30, 38%, 92%);

  font-size: 14px;

  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Fraunces', sans-serif; */

  display: flex; /* Flexbox */

  justify-content: center; /* Aliamiento horizontal */
  align-items: center; /* Alineamiento vertical */

  height: 100vh; /* vh <> Viewport height */  
}

main {
  border: 1px solid red;

  width: 650px;

  display: flex; /* Flexbox */

  min-height: 400px;
}

.photo {
  border: 1px solid blue;

  width: 350px;

  background-image: url(images/image-product-desktop.jpg);
  background-size: cover;
}

.content {
  border: 1px solid orange;

  width: 300px;
}