/* TODO: Empezar los estilos de este diseño */

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;

  background-color: hsl(148, 38%, 91%);

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  /* border: 1px solid red; */

  min-width: 400px;
  background-color: white;
  border-radius: 16px;
  padding: 32px;
}

h1 {
  margin: 0;
  margin-bottom: 32px;
  color: hsl(187, 24%, 22%);
}

label {
  display: block;
  margin-bottom: 16px;
}

input[type=text],
input[type=email],
textarea {
  display: flex;

  margin-top: 8px;

  width: 100%;
  border-radius: 8px;
  border: 1px solid hsl(186, 15%, 59%);
  padding: 16px;

  box-sizing: border-box; /* ??? */
}

/* TODO: Darle estilos al boton del formulario */

input[type=submit] {
  width: 100%;
  border: none;
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%); /* white <> #FFFFFF <> #FFF */
  border-radius: 8px;
  padding: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

input[type=submit]:hover {
  background-color: hsl(169, 82%, 20%);
  cursor: pointer;
}

.required {
  color: hsl(169, 82%, 27%);
}

.query-type {
  border: 1px solid hsl(186, 15%, 59%);
  display: flex;
  gap: 4px;
  padding: 16px;
  margin-top: 8px;
  border-radius: 8px;

  /* width: 100%; */
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  /* display: flex;
  box-sizing: border-box;
  gap: 16px; */
}