/* GENERALES */

* { /* Selector universal */
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid red; */
}

html {
  font-size: 14px;
}

/* font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif; */

body {
  font-family: "Open Sans", sans-serif;

  background-color: hsl(217, 28%, 15%);
  color: hsl(0, 0%, 100%);
}

a {
  color: inherit;

  text-decoration: none;
}

.header {
  border: 1px solid red;

  display: flex;
  justify-content: space-between;
  align-items: center;
}