/* GENERALES */

* { /* Selector universal */
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid red; */
}

html {
  font-size: 14px;
}

/* font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif; */

body {
  font-family: "Open Sans", sans-serif;

  background-color: hsl(217, 28%, 15%);
  color: hsl(0, 0%, 100%);
}

a {
  color: inherit;

  text-decoration: none;
}

/* UTILS */

.wrapper {
  /* width: 1440px; */
  width: min(100% - 42px, 1440px);

  /* border: 1px solid blue; */
}

/* HEADER SECTION */

.header {
  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  margin-top: 42px;
}


.header__nav {
  /* TODO: terminar el css de este nav */
  display: flex;
  gap: 42px; /* 42px = 14 * 3 */
}