/* GENERALES */

* { /* Selector universal */
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid red; */
}

html {
  font-size: 14px;
}

/* font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif; */

body {
  font-family: "Open Sans", sans-serif;

  background-color: hsl(217, 28%, 15%);
  color: hsl(0, 0%, 100%);
}

a {
  color: inherit;

  text-decoration: none;
}

img {
  /* RWD para imágenes */
  max-width: 100%;

  height: auto;
}

/* UTILS */

.wrapper {
  /* width: 1440px; */
  width: min(100% - 42px, 1440px);

  /* border: 1px solid blue; */
}

.hidden {
  display: none !important;
}

/* HEADER SECTION */

.header {
  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  margin-top: 42px;
}


.header__nav {
  /* TODO: terminar el css de este nav */
  display: flex;
  gap: 42px; /* 42px = 14 * 3 */
}

/* HERO SECTION */

/* TODO : Terminar el css para la sección abajo del header(hero). Usen bem para el nombrado de las clases y reutilicen la función min. */

/* REM : Root EM(Ancho de la letra M) o Entidad de Medida Relativa */ 

.hero {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; /* 14px * 2 = 28px = 2rem */

  padding-top: 3rem; /* 3 x 14px = 42px */
  padding-bottom: 12rem; /* 12 x 14px = 168px */

  background-image: url(../images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.hero__image {}

.hero__title {
  /* border: 1px solid yellow; */

  /* width: 720px; */
  /* Elige el valor más pequeño entre los que le pasemos */
  width: min(100% - 3rem, 720px);

  font-family: "Raleway", sans-serif;
  font-weight: 700; /* por defecto */
  font-size: 2.5rem;

  text-align: center;
}


.hero__text {
  /* TODO: Terminar de aplicar los estilos al parrafo del hero */
  width: min(100% - 3rem, 720px);

  font-size: 1.2rem;

  text-align: center;
}

.hero__button {
  font-weight: 700;

  border: none;
  border-radius: 7rem;
  padding: 1rem;
  min-width: 220px;
  background-color: hsl(176, 68%, 64%);
  color: hsl(0, 0%, 100%);
}

/* FEATURES SECTION */

.features {
  /* border: 1px solid red; */

  background-color: hsl(218, 28%, 13%);

  display: grid;
  grid-template-columns: 340px; /* MOBILE FIRST: Esta propiedad es para móviles */
  /* grid-template-rows: 240px 240px; */
  justify-content: center;
  gap: 5rem;
}

/*
TAMAÑOS DE PANTALLA SUGERIDOS:

576px  -> pantallas pequeñas (celulares)
768px  -> pantallas pequeñas (tablets y celulares)
992px  -> pantallas medianas (Desktop)
1280px -> pantallas grandes (Desktops, TVs)
*/

/* MEDIA QUERY: Se aplica a dispositivos móviles, tables o desktops+ */

@media (min-width: 992px) {
  .features {
    grid-template-columns: 340px 340px;
  }
}

.feature {
  /* border: 1px solid yellow; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* 14px = 1rem */

  /* text-align: center; */
}

.feature__image {}

.feature__title {
  font-family: "Raleway", sans-serif;

  text-align: center;
}

.feature__text {
  text-align: center;
}

/* TODO: COLLABORATION SECTION */

.collaboration {}

.productive {}

.productive__title {}

.productive__text {}

.productive__link {}

/* TESTIMONIALS SECTION */

.testimonials {
  border: 1px solid red;

  display: flex;
  gap: 2.5rem;

  padding-top: 8rem;
  padding-bottom: 8rem;

  background-color: hsl(218, 28%, 13%);
}

.testimonial {
  border: 1px solid yellow;
}

.testimonial__text {}

.testimonial__profile {}